* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
:root {
  --primary-color: #87bc29;
  --primary-font: Algerian;
  --bg-image-center: no-repeat center/cover;
}
.center {
  text-align: center;
}
/* ***** NAVIGATION  ***** */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 999;
}
.list-items {
  display: inline;
}

.list-items a {
  padding: 20px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}
.list-items a:hover {
  border-bottom: 2px solid #fff;
}
.nav__logo h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
span {
  color: var(--primary-color);
}
.hero {
  background: url("Images/img1.jpg") center center / cover no-repeat fixed;
  height: 100vh; /* Ensure the container has height */
}



.hero__headings-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
  margin-left: 10rem;
  color: #fff;
}
.hero__main-headings {
  font-size: 5rem;
  color: white;
}
.main-span {
  font-family: var(--primary-font);
}
.hero__headings-container p {
  font-weight: bold;
}
.main-btn {
  text-decoration: none;
  margin-top: 20px;
  color: #ffffff;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  font-weight: bold;
}
/* ****** SERVICES *******/
.main-headings {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 50px;
  transition-property: all;
  transition-duration: 0.5s;
}
.main-headings:hover {
  transform: skew(10deg);
}
/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  padding: 20px;
  margin: 20px;
  transition-property: all;
  transition-duration: 1s;
  border: 1px solid #ccc;
}
.card:hover {
  box-shadow: 2px 2px 2px 2px #ccc;
  transform: scale(1.3);
  cursor: pointer;
}
.card-image {
  width: 300px;
  height: 250px;
}
.card p {
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  padding: 10px;
}
.img-one {
  background: url("Images/img-miere.jpg") var(--bg-image-center);
}
.img-two {
  background: url("Images/img-polen.jpg") var(--bg-image-center);
}
.img-three {
  background: url("Images/img-propolis.jpg") var(--bg-image-center);
}
/* ******* WHY US ******* */
.why-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lists-container {
  margin-left: 30px;
  font-family: sans-serif;
}
.list {
  display: flex;
  align-items: center;
  text-align: center;
}
.list-number {
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}
.list-number p {
  color: var(--primary-color);
  text-align: center;
}
.list-info {
  color: rgb(122, 122, 122);
  
  
}
.list-info:hover {
  transform: scale(1.1);
  font-weight: bold;
  transition-duration: 0.3s;
  transition-property: all;
}
.owner-image {
  background: url(Images/owner.jpg) no-repeat top/cover;
  width: 300px;
  height: 300px;
  margin-right: 10rem;
  border-radius: 50%;
  border: 10px solid var(--primary-color);
  transition-property: all;
  transition-duration: 1s;
}
.owner-image:hover {
  transform: scale(1.2);
}
/* ******* PROJECT DETAILS ******* */
.project-details__container-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  font-family: sans-serif;
}
.project-details__container-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  font-family: cursive;
}
.project-details-img {
  box-shadow: 10px 10px 5px var(--primary-color);
  transition-property: all;
  transition-duration: 1s;
}

.project-details-img:hover {
  transform: scale(1.1);
  box-shadow: 20px 20px 10px var(--primary-color);
  transform: skew(10deg);
}
.title {
  margin-left: 40px;
}
/* ********* FORM ********* */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10rem 10rem;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  width: 50%;
}
input:focus {
  border-bottom: 2px solid var(--primary-color);
}
.form-btn {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}
/* ********* FOOTER ********* */
footer {
  height: 30vh;
  background-color: #000000be;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > a {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
/* Contact Section */
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fab {
  font-size: 45px;
  margin: 25px;
  cursor: pointer;
  color: #d33f3f;
  transition: all 0.2s ease-out;
}

.fab:hover {
  color: #d9e0c8;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}

.phone-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s ease-out;
}
.phone-button a i:hover {
  background-color: #db2020;
}
.phone-button a i {
  margin-right: 8px; /* Adds space between the icon and the text */
}

@media screen and (max-width: 600px) {
  .hero__main-headings {
      font-size: 1rem; /* Adjust this value as needed for smaller screens */
  }
}


html,body{

  width: 100%;
  
  height: 100%;
  
  margin:0;
  
  padding:0;
  
  overflow-x:hidden;
  
  }
  @media (max-width: 600px) {
    .nav {
      padding: 10px;
    }
  
    .list-items a {
      padding: 10px;
      font-size: 0.8rem; /* Adjust font size as needed */
    }
  
    .nav__logo h1 {
      font-size: 1rem; /* Adjust font size as needed */
    }

    .social-icons .fab {
      font-size: 30px;
      margin: 5px;
      cursor: pointer;
      color: #d33f3f;
      transition: all 0.2s ease-out;
    }
    .fab:hover {
      color: #d9e0c8;
    }
    
    .fas {
      font-size: 30px;
      margin-right: 5px;
    }
    footer {
      height: 10vh;
      background-color: #000000be;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer > a {
      color: #fff;
      font-size: 10px;
      text-decoration: none;
      margin: 5px;
      font-family: "IBM Plex Sans Condensed", sans-serif;
    }
  }
/* Style the contact section */
#mesaj {
  display: none;
  position: absolute;
  top: 100px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #00ffea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  display: none;
}

/* Style the form labels */
#mesaj label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style the form inputs */
#mesaj input[type="text"],
#mesaj input[type="email"],
#mesaj textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
#mesaj input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change the submit button color on hover */
#mesaj input[type="submit"]:hover {
  background-color: #45a049;
}
#closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#closeBtn:hover {
  background-color: darkred;
}

#map { 
  width: 100%; 
  height: 400px; 
  border: 2px solid #000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
